strict-ssl=false
legacy-peer-deps = true 
@scfhq:registry = https://nexus.scf-centendashboardpro01-391a523e0203d3683790f242c9079785-0000.eu-gb.containers.appdomain.cloud/repository/npm-hosted-releases/
init.author.name = Sergio Alvarez
init.author.email = sergio.alvarez@servexternos.gruposantander.com
init.author.url = http://santanderconsumer.es
email=sergio.alvarez@servexternos.gruposantander.com
always-auth = true
ZnJvbnQ6Q2VudGVuMTIz