/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 299px;
  //background: url("../../../content/images/jhipster_family_member_3.svg") no-repeat center top;
}

li a {
  font-weight: initial;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
}
